<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DG717 Room Utilization</title>
    <style type="text/css">
    p { margin-bottom: 1em; }
 </style>
</head>
<body>
<table width="100%" cellpadding="2" cellspacing="3" border="0" style="background-color:#f0f3fd; padding:5px 0 5px 0;">
<tr>
<td style="background-color:#f0f3fd;">
<table width="600px" cellpadding="3" cellspacing="3" border="0" style="margin:0 auto; font-family: sans-serif; background-color: #ffffff; padding: 0 30px 0 30px; font-size:1.2em;">
<!--============================================START MAIN CONTENT================================================ -->
<%= yield %>
</table>
</td>
</tr>
</table>
<!-- end wrapper table -->
</body></html>
